body {
    background-color:rgb(238, 235, 235);
    margin-left:200px;
    margin-right: 200px;
}
header{
    margin-top:70px;
}
h1{
    color:rgb(66, 65, 65);
    font-family:fantasy;
}
h2{
    color:rgb(66, 65, 65);
}
p{
    font-size:14;
}
footer{
    margin-left:400px;
}
img{
    margin-bottom:20px;
}
.img_contato{
    margin-bottom:5px;
}